.active-tab-btn {
  border: 0px;
  background-color: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tab-item-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
button {
  border: 0px;
  background-color: none;
}
.tab-button {
  color: #7b8794;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-bottom: 2px solid #dfe2e5;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 4px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.active {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
  padding-bottom: 10px;
}
